# Entorno virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Variables de entorno
.env
.env.*

# Base de datos
*.db
*.sqlite
*.sqlite3

# Logs
*.log
*.err

# NiceGUI
.nicegui/storage-*.json

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db